<div class="content-header clearfix">
    <div class="row">
        <div class="col-xs-6">
            <h2>Settings</h2>
        </div>
        <div class="col-xs-6">
            <a ng-if="rvm.isOwner" ui-sref="settings.shops.new" style="margin-top: 19px;" class="pull-right btn btn-primary uppercase"><i class="fa fa-user-plus"></i>Create Shop</a>
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header">
        <h2 class="box-title">Shops</h2>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" id="shop-search" role="search" class="form-control input-sm" placeholder="Search">
                <span class="fa fa-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover table-responsive" datatable search="#shop-search">
            <thead>
            <tr>
                <th>Shop Name</th>
                <th>Country</th>
                <th>State</th>
                <th>City</th>
                <th>Website</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="shop in vm.shops">
                <td>{{shop.name}}</td>
                <td>{{shop.country}}</td>
                <td>{{shop.state}}</td>
                <td>{{shop.city}}</td>
                <td>{{shop.website}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>